*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-bar{
    width: 80%;
    height: 4rem;
    background-color: #eee;
    margin-bottom: 20px;
    display: flex;
    padding: 0px 20px;
    align-items: center;
    justify-content: space-between;

}

.fas{
    color: red;
    margin-right: 10px;
}
.header{
    width: 80%;
    height: 200px;
    background-color: red;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar p{
font-size: 30px;
font-weight: bold;
color: white;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 7px 15px;
}
.navbar ul li a:hover{
    background-color: white;
    color: red;
    border-radius: 3px;
}